body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/*section*/

.travellers-of-bd{
    display: flex;
    background-image: url(images/background/top-banner.png);
    background-repeat: no-repeat;
    
}
.section-2nd{
    margin-top: 150px;
}
.middle-section{
    background-image: url(images/background/exp-bg.png);
    background-repeat: no-repeat;
    margin-top: 150px;

}





/*division*/

.division{
    margin-top: 80px;
    width: 80%;
    padding-left: 80px;

}
.division img{
    border-radius: 20px;
}
.section_3{
    display: flex;
    width: 80%;
    margin-left: 200px;
    margin-top: 40px;
}
.division-one{
    width: 80%;
    padding: 40px;
    border-radius: 20px;
    background-color: slategrey;
    margin-right: 20px;
    
    
}
.division-two{
    width: 80%;
    padding: 40px;
    border-radius: 20px;
    background-color: tan;
    
    
}
.division-three{
    width: 80%;
    padding: 40px;
    border-radius: 20px;
    background-color: thistle;
    margin-left: 20px;

    
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}







/*others*/

.paragraph{
    text-align: justify;
}

.button{
    background-image: linear-gradient(red,green);
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
}
.name_color{
    color: red;
}
.heading{
    color: green;
    padding-left: 5px;
}
.border-left{
    border-left: 10px solid;
    border-image: linear-gradient(green,red);
    border-image-slice: 1;
}
.description{
    color: gray;
}
.flex{
    display: flex;
}
footer{
    height: 120px;
}
.year{
    color: yellow;
}