body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/*section*/

.travellers-of-bd{
    display: flex;
    background-image: url(images/background/top-banner.png);
    background-repeat: no-repeat;
    
}
.section-2nd{
    margin-top: 150px;
}
.middle-section{
    background-image: url(images/background/exp-bg.png);
    background-repeat: no-repeat;
    margin-top: 150px;
}
.last-section{
    display: flex;
    margin-left: 250px;
    margin-top: 200px;
    justify-content: space-around;
    width: 70%;
    border: 5px solid;
    border-radius: 20px;
    background-color: wheat;
}





/*division*/

.division{
    margin-top: 80px;
    width: 80%;
    padding-left: 80px;

}
.division-bandarban{
    margin-top: 80px;
    width: 80%;
    padding-left: 80px;
    padding-right: 120px;

}
.division img{
    border-radius: 20px;
    border: 2px solid;
}
.section_3{
    display: flex;
    width: 80%;
    margin-left: 200px;
    margin-top: 100px;
}
.division-one{
    width: 80%;
    padding: 40px;
    border-radius: 20px;
    background-color: slategrey;
    margin-right: 20px;
    
    
}
.division-two{
    width: 80%;
    padding: 40px;
    border-radius: 20px;
    background-color: tan;
    
    
}
.division-three{
    width: 80%;
    padding: 40px;
    border-radius: 20px;
    background-color: thistle;
    margin-left: 20px;   
}
.last-image{
    margin: 50px;
    border: 7px solid;
    border-image: linear-gradient(green,red);
    border-image-slice: 1;
}


footer{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 200px;
}
.link-div{
    margin-top: 50px;
}







/*others*/

.paragraph{
    text-align: justify;
}

.button{
    background-image: linear-gradient(red,green);
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
}
.name_color{
    color: red;
}
.heading{
    color: green;
    padding-left: 5px;
    font-size: 40px;
}
.border-left{
    border-left: 10px solid;
    border-image: linear-gradient(green,red);
    border-image-slice: 1;
}
.description{
    color: gray;
}
.flex{
    display: flex;
}
footer{
    height: 120px;
}
.year{
    color: yellow;
}
.facebook{
    background-image: linear-gradient(blue,rgb(31, 134, 141));
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    border-radius: 30px;

}
.instagram{
    background-image: linear-gradient(rgb(230, 51, 51), rgb(143, 92, 27));
    margin-top: 50px;
    text-decoration: none;
    color: white;
    padding: 10px 37px;
    border-radius: 30px;
}
.youtube{
    background-image: linear-gradient(rgb(180, 9, 9),rgb(199, 87, 23));
    margin-top: 60px;
    text-decoration: none;
    color: white;
    padding: 10px 44px;
    border-radius: 30px;
}
.upcoming{
    color: white;
}
.bottom{
    margin-bottom: 100px;
}